.picture__title {
  opacity: 0;
}

.scale {
  transition: 0.7s ease-in-out;
  overflow: hidden;
}

.scale:hover {
  transform: scale(0.95);
}

.ourImage {
  transition: 0.7s ease-in-out;
}

.scale:hover .ourImage {
  transform: scale(1.1);
}
