.picture__title {
  opacity: 0;
}

/* .menu-btn:after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 0;
  right: 0;
  color: red;
  transition: 0.3s ease;
} */

/* .menu-btn:hover:after {
  width: 100%;
  left: 0;
  background: red;
} */
.scale {
  transition: 0.7s ease-in-out;
  overflow: hidden;
}

.scale:hover {
  transform: scale(0.95);
}

.ourImage {
  transition: 0.7s ease-in-out;
}

.scale:hover .ourImage {
  transform: scale(1.1);
}
